
body
{
  font-family: 'Special Elite', cursive;
  /*font-family: 'Nunito', sans-serif;background: chocolate;*/
  background: linear-gradient(purple,yellow);
}

.header_div
  {
  background: white;
  color: #ce2700; 
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    letter-spacing: 8px;
    font-size: 16px;
    font-weight: bold;
  
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 8px;
    background-color: orchid;
    color:burlywood;
  }
  .copy_right_footer {
   position: fixed;
   color: #6c757d;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #f5f5f5;
   line-height: 5;
   text-align: center;
   text-shadow: 5px 5px 5px hotpink;
}
